{% extends 'base.html.twig' %}

{% block title %}Hello ThreadController!{% endblock %}

{% block body %}
    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            <th></th>
            <th scope="col">Thread</th>
            <th scope="col">Author</th>
            <th scope="col">Replies</th>
            <th scope="col">Last post</th>
        </tr>
        </thead>
        <tbody>
        {% for thread in threads %}
            <tr>
                <td></td>
                <td><a href="{{ path('thread', {id : thread.id}) }}">{{ thread }}</a></td>
                <td>{{ thread.user }}</td>
                <td>{{ thread.posts|length }}</td>
                <td>{% if thread.posts|last == false %}

                    {% else %}
                        <a href="{{ path('user_profile_show', {id : thread.posts|last.user.id}) }}">{{ thread.posts|last.user }}</a><br>
                        {{ thread.posts|last.createdat|date("d/m/Y H:i:s") }}
                    {% endif %}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
