{% extends 'base.html.twig' %}

{% block title %}Hello ThreadController!{% endblock %}
{#{% block javascripts %}#}

{#{% endblock %}#}
{% block body %}
    <div class="container">
        <div class="row pf">
            <div class="col-2">
                <img class="profile" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" width="150px" height="150px">
                <a href="{{ path('user_profile_show', {id : thread.user.id}) }}"><p class="profile-user-text">{{ thread.user }}</p></a>
                <p class="profile-user-count">{{ thread.user.threads|length }} threads opened</p>
                <p class="profile-user-count">{{ thread.user.posts|length }} replies posted</p>
            </div>
            <div class="col-10">
                <input style="margin-top: 2%" class="form-control thread-content-title" type="text" placeholder="{{ thread }}" readonly>
                <textarea style="margin-top: 4%" class="form-control thread-content-show" readonly id="exampleFormControlTextarea1" rows="8">{{ thread.content }}</textarea>
               <input style="margin-top: 2%" class="form-control thread-date-show" type="text" placeholder="{{ thread.updatedat|date('d-m-y') }}" readonly>
            </div>
        </div>
        <hr>
    {% for post in pagination %}
        <div class="row pf poster">
            <div class="col-2">
                <img class="profile" src="https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png" width="150px" height="150px">
                <a href="{{ path('user_profile_show', {id : post.user.id}) }}"><p class="profile-user-text">{{ post.user }}</p></a>
                <p class="profile-user-count">{{ post.user.threads|length }} threads opened</p>
                <p class="profile-user-count">{{ post.user.posts|length }} replies posted</p>
            </div>
            <div class="col-10">
                <textarea style="margin-top: 4%" class="form-control thread-content-show-post" readonly id="exampleFormControlTextarea1" rows="8">{{ post.content }}</textarea>
                {% if app.user == post.user %}
                    <a href="{{ path('edit_post', {id : post.id}) }}">
                        <i class="far fa-edit edit-button-content"></i>
                    </a>
                {% endif %}
            </div>
        </div>
        <hr>
    {% endfor %}
        <ul class="navigation">
            {{ knp_pagination_render(pagination) }}
        </ul>
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <h6>{{ form_widget(form.content) }}</h6>
        {{ form_end(form) }}
    </div>
{% endblock %}
