.masthead {
    height: 1vh;
    min-height: 260px;
    margin-bottom: 1%;
    background-image: url('https://source.unsplash.com/BtbjCFUvBXs/1920x1080');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pf {
    height: 400px;
}

.profile{
    margin-left: -10.9% !important;
}

.profile-user-text {
    margin-left: 25%;
    width: 200%;
}

.profile-user-count {
    margin-left: 2%;
    width: 200%;
}

.thread-content-title{
    margin-top: 2%
}


.thread-content-show{
    margin-top: 4%
}

.thread-content-show-post{
    margin-top: 0 !important;
}

.thread-date-show{
    margin-top: 3% !important;
}

.row.pf.poster {
    height: 100%;
}
.edit-button-content {
    margin-left: 98%;
}
.reg-button{
    margin-left: 90.5%;
}