{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
<table class="table table-sm table-bordered">
    <thead>
    <tr>
        <th></th>
        <th scope="col">Category</th>
        <th scope="col">Threads</th>
        <th scope="col">Last post</th>
        <th scope="col">Last reply</th>
    </tr>
    </thead>
    <tbody>
    {% for category in categories %}
        <tr>
            <td></td>
            <td><a href="{{ path('thread_category', {id : category.id}) }}">{{ category }}</a></td>
            <td>{{ category.threads|length }}</td>
            <td>
                {{ category.threads|last }}<br>
            </td>
            <td>
                {% if category.threads|last == false %}
                {% else %}
                    <a href="{{ path('user_profile_show', {id : category.threads|last.user.id }) }}">{{ category.threads|last.user }}</a><br>
                    {{ category.threads|last.createdat|date("d/m/Y H:i:s") }}
                {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
