{% trans_default_domain 'FOSUserBundle' %}


<form method="post" action="{{ path("fos_user_registration_register") }}" class="form-signin">
    {{ form_row(form._token) }}
    {% if form_errors(form) %}
        <div class="alert alert-danger" role="alert">
            {{ form_errors(form) }}
        </div>
    {% endif %}

    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Email'}}) }}
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Username</label>
            {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Username'}}) }}
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="inputEmail4">Password</label>
            {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
        </div>
        <div class="form-group col-md-6">
            <label for="inputPassword4">Repeat password</label>
            {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
        </div>
        <input type="submit" class="btn btn-primary reg-button" value="{{ 'registration.submit'|trans }}"/>
    </div>
</form>
