{% extends 'base.html.twig' %}

{% block title %}Hello PostController!{% endblock %}

{% block body %}

    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <h6>{{ form_widget(form.content, {'attr': {'value': post.content}}) }}</h6>
    {{ form_end(form) }}

{% endblock %}


