{% trans_default_domain 'FOSUserBundle' %}


<form method="post" action="{{ path("fos_user_security_check") }}" class="form-signin">
    {% if error %}
        <div class="alert alert-danger" role="alert">
            <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        </div>
    {% endif %}
    {% if csrf_token %}
        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}"/>
    {% endif %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" name="_username" value="{{ last_username }}" class="form-control" id="exampleInputEmail1"
                   aria-describedby="emailHelp" placeholder="Enter username">
        </div>
        <div class="form-group col-md-6">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" name="_password" class="form-control" id="exampleInputPassword1"
                   placeholder="Password">
        </div>
    </div>
    <input style="margin-left: 92.56%;%" class=" btn btn-primary reg-button" type="submit" id="_submit" name="_submit"
           value="{{ 'security.login.submit'|trans }}"/>
</form>
