{% extends 'base.html.twig' %}

{% block title %}Hello ThreadController!{% endblock %}

{% block body %}
    <h1>Posts</h1>
    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            <th></th>
            <th scope="col">Thread</th>
            <th scope="col">Reply</th>
            <th scope="col">Posted at</th>
        </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td></td>
                <td><a href="{{ path('thread', {id : post.thread.id})}}"> {{ post.thread}}</a></td>
                <td>{{ post.content }}</td>
                <td>{{ post.createdat|date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h1>Threads</h1>
    <table class="table table-sm table-bordered">
        <thead>
        <tr>
            <th></th>
            <th scope="col">Thread</th>
            <th scope="col">Comments</th>
            <th scope="col">Posted at</th>
        </tr>
        </thead>
        <tbody>
        {% for thread in threads %}
            <tr>
                <td></td>
                <td><a href="{{ path('thread', {id : thread.id})}}"> {{ thread.title}}</a></td>
                <td>{{ thread.posts|length }}</td>
                <td>{{ thread.createdat|date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}